[submodule "shell/oh-my-zsh"]
	path = shell/oh-my-zsh
	url = git@github.com:sharat87/oh-my-zsh.git
[submodule "vim/ipi/vimroom"]
	path = vim/ipi/vimroom
	url = git@github.com:sharat87/vimroom.git
[submodule "shell/custom-configs/plugins/zsh-syntax-highlighting"]
	path = shell/custom-configs/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "mutt/solarized-colors"]
	path = mutt/solarized-colors
	url = https://github.com/altercation/mutt-colors-solarized.git
[submodule "mail/offlineimap"]
	path = mail/offlineimap
	url = https://github.com/spaetz/offlineimap.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/Hemisu"]
	path = vim/bundle/Hemisu
	url = https://github.com/noahfrederick/Hemisu
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-abolish"]
	path = vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/matchit.zip"]
	path = vim/bundle/matchit.zip
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/ZoomWin"]
	path = vim/bundle/ZoomWin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/ipi/nerdtree"]
	path = vim/ipi/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/UltiSnips"]
	path = vim/bundle/UltiSnips
	url = https://github.com/vim-scripts/UltiSnips.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/vcscommand.vim"]
	path = vim/bundle/vcscommand.vim
	url = https://github.com/vim-scripts/vcscommand.vim.git
[submodule "vim/bundle/VimClojure"]
	path = vim/bundle/VimClojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule "vim/bundle/vim-afterimage"]
	path = vim/bundle/vim-afterimage
	url = https://github.com/tpope/vim-afterimage.git
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/linediff.vim"]
	path = vim/bundle/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/pythondo"]
	path = vim/bundle/pythondo
	url = https://github.com/vim-scripts/pythondo.git
[submodule "vim/bundle/vim-indent-object"]
	path = vim/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "vim/ipi/Command-T"]
	path = vim/ipi/Command-T
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/CamelCaseMotion"]
	path = vim/bundle/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule "vim/bundle/CheckAttach"]
	path = vim/bundle/CheckAttach
	url = https://github.com/chrisbra/CheckAttach.git
[submodule "vim/bundle/mustache.vim"]
	path = vim/bundle/mustache.vim
	url = https://github.com/juvenn/mustache.vim.git
[submodule "vim/bundle/SearchPosition"]
	path = vim/bundle/SearchPosition
	url = https://github.com/vim-scripts/SearchPosition.git
[submodule "vim/ipi/vim-pad"]
	path = vim/ipi/vim-pad
	url = https://github.com/fmoralesc/vim-pad.git
[submodule "vim/bundle/vim-ipi"]
	path = vim/bundle/vim-ipi
	url = https://github.com/jceb/vim-ipi.git
[submodule "vim/bundle/html5.vim"]
	path = vim/bundle/html5.vim
	url = https://github.com/othree/html5.vim.git
[submodule "vim/bundle/vim-pyref"]
	path = vim/bundle/vim-pyref
	url = https://github.com/xolox/vim-pyref.git
[submodule "vim/bundle/pythoncomplete"]
	path = vim/bundle/pythoncomplete
	url = https://github.com/vim-scripts/pythoncomplete.git
[submodule "vim/ipi/Conque-Shell"]
	path = vim/ipi/Conque-Shell
	url = https://github.com/vim-scripts/Conque-Shell.git
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/bundle/vim-textobj-entire"]
	path = vim/bundle/vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire.git
[submodule "vim/bundle/vim-textobj-user"]
	path = vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "vim/bundle/vim-smartinput"]
	path = vim/bundle/vim-smartinput
	url = https://github.com/kana/vim-smartinput.git
[submodule "vim/bundle/tslime.vim"]
	path = vim/bundle/tslime.vim
	url = https://github.com/sjl/tslime.vim.git
[submodule "vim/bundle/clam.vim"]
	path = vim/bundle/clam.vim
	url = https://github.com/sjl/clam.vim.git
[submodule "vim/ipi/gundo"]
	path = vim/ipi/gundo
	url = https://github.com/sjl/gundo.vim.git
