snippet main "The main function" !b
main :: IO ()
main = ${1:putStrLn "${2:In main}"}
endsnippet

snippet fn "A funtion, with type signature" !b
${1:functionName} :: ${2:Int} -> ${3:Int}
$1 ${4:args }= ${0:undefined}
endsnippet

snippet if "A conditional expression" !b
if ${1:condition}
  then ${2:truthy}
  else ${3:falsy}
endsnippet
