snippet .new "New python file template" !b
# encoding: utf-8

from __future__ import print_function
from __future__ import unicode_literals

$0
endsnippet

snippet fi "from module import something" !b
from ${1:pprint} import ${2:$1}
endsnippet

snippet doctest "run doctest on current module" !b
if __name__ == '__main__':
    import doctest
    doctest.testmod()
endsnippet
