snippet .new "New file template"
#!/usr/bin/enb python
# encoding: utf-8

from __future__ import print_function
from __future__ import unicode_literals

${1}
endsnippet
snippet _ "Sanity expander"
__${1:init}__
endsnippet
