a:hover {
    opacity: 1;
    text-decoration: underline;
}

#course-page-content {
    min-height: 0 !important;
    padding: 12px;
}

div.course-item-list-header h3,
li.course-navbar-item > a,
.lecture-link {
    font-weight: normal !important;
}

div.course-item-list-header.expanded {
    background-image: -webkit-gradient(linear,
            0% 0%, 0% 100%, from(#F1F1F1), to(#FFFFFF));
}

li.course-navbar-item > a:active,
li.course-navbar-item.active > a {
    background-color: #173862 !important;
    color: #EEE;
}

ul.course-item-list-section-list > li.viewed {
    opacity: .6;
}

ul.course-item-list-section-list > li:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, .05);
}

div.course-lecture-item-resource a:hover i {
    -webkit-transform: scale(1.2);
}
