::-webkit-scrollbar {
	border: none !important;
	background-color: #CCC !important;
	width: 6px !important;
	height: 8px !important;
}

::-webkit-scrollbar-thumb {
	background-color: #444 !important;
	border: none !important;
}

/* Modem admin */
body.mainMenuBody .menulink {
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: normal;
}

body.mainMenuBody .menulink:hover {
    background-image: -webkit-linear-gradient(top,
            rgb(0,119,237) 0%, rgb(0,75,204) 100%);
}

body.mainMenuBody .menulink:active {
    color: white;
    background-image: -webkit-linear-gradient(top,
            rgb(0,75,204) 0%, rgb(0,119,237) 100%);
}

body.mainMenuBody table {
    border-collapse: collapse;
}
