#r-popup {
    position: fixed;
    top: 100px;
    left: 200px;
    width: 250px;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 3px;
    font-size: 2em;
    padding: 3px 0;
    box-shadow: 3px 3px 18px rgba(0, 0, 0, .4);
}

#r-popup .finder-input {
    padding: 3px 6px;
    margin-bottom: 6px;
    border: none;
    border-bottom: thin solid blue;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    width: 100%;
    -moz-box-sizing: border-box;
}

#r-popup a {
    padding: 3px 6px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    color: white;
}

#r-popup a.active {
    background-color: blue;
}
