.problem-statement p {
    font-size: 18px !important;
    line-height: 24px !important;
}

.problem-statement pre, .problem-statement code {
    font-size: 18px;
    font-weight: normal;
    font-family: Inconsolata-g;
}
