.problem-statement p,
.problem-statement li,
.problem-statement pre,
.problem-statement code,
.problem-statement blockquote p {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
}

.problem-statement h2 {
    font-size: 1.6em;
}

.problem-statement h3 {
    font-size: 1.4em;
}
