body > font > center {
    display: none;
}

body {
    margin: 0 !important;
    font-size: 18px;
}

table {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

font > table > tr > td {
    padding: 0 !important;
}
