#masthead {
    padding: 0;
}

#content {
    zoom: 1.2
}

.relatedLinks {
    float: left;
    margin-left: 0;
    padding: 0;
    width: 160px;
    margin-left: 6px;;
}

.relatedLinks ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#masthead > h1 + div, #gna, #gal {
    display: none;
}
