version 1

snippet .new "New file skeleton"
	<!doctype html>
	<html lang=en>
	<head>
		<meta charset=utf-8>
		<title>${1:Title}</title>
	</head>
	<body>
	$0
	</body>
	</html>

snippet js "Insert Javascript file reference"
	<script lang="javascript" src="$0.js"></script>

snippet css "Insert CSS file reference"
	<link rel="stylesheet" href="$0.css">
