snippet py "A python file primer"
	#!/usr/bin/env python
	# encoding: utf-8
	
	from __future__ import print_function
	from __future__ import unicode_literals
	
	${1}

snippet jy "A jython file primer"
	#!/usr/bin/env jython
	# encoding: utf-8
	
	from __future__ import with_statement
	
	${1}
